{% extends 'platform/coaches/dashboard.html' %}

{% block content %}

{% import 'components/macros.html' as macros %}

<form action="" class='large-form' id='profile-form'>
    <!-- <div style='display:flex; justify-content:start; align-content:center'> -->
        <!-- <input type="image"> -->
        <input type="text" name="title" placeholder="Title : ">
    <!-- </div> -->
    <input type="text" name="tags" placeholder="Tags : ">
    <textarea type="text" name="description : " placeholder="Description : "></textarea>
    <input type="submit">
</form>

<script> 
    handleForm('/api/coaches/edit-profile', 'profile-form').then(response => {console.log(response);})
</script>

{% endblock %}

