a {
    color: var(--text-color);
    transition: transform ease 1s;
}

a:hover {
    transform: translateY(-2px);
    /* text-shadow: 0px 5px 6px rgba(0, 128, 0, 0.477); */
}

::selection {
    color: var(--white);
    /* background: var(--dark-gray); */
    background: var(--main-color);
}