a {
    color: var(--text-color);
    transition: transform ease 1s;
}

a:hover {
    transform: translateY(-2px);
    /* box-shadow: var(--main-shadow); */
}

::selection {
    color: var(--white);
    background: var(--dark-gray);
    /* background: var(--main-color); */
}