body .dashboard {
    background-color: var();
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body.center {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

body.space-center-line {
    background-color: var(--main-light-light-gray);
}