.card {
    border-radius: var(--main-border-radius);
    background-color: var(--main-white);
    padding: var(--space);
    margin: var(--space);
    box-shadow: var(--main-box-shadow);
    display: block;
    justify-items: center;
    align-items: center;
}