form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

form.large-form {
    width:100%;
    padding: var(--space);
    margin: var(--space);
}

form input, form textarea {
    font-size: var(--font-size);
    border: none;
    border: 1px solid var(--dark-gray);
    border-radius: var(--main-border-radius);
    padding: var(--space);
}

form input:focus, textarea:focus {
    /* outline: solid 2px var(--main-color); */
    outline: none;
    /* border: 2px solid var(--main-color) */
}

form textarea {
    resize: none; /* Prevents resizing */
    /* min-height: 2rem;
    max-height: 50rem; */
    height: 30rem;
}

form input[type='submit'] {
    width: 100%;
    background-color: var(--main-background-color);
}

form label {
    color: var(--text-color);
}