<!-- <script>
    // // Function to refresh the authentication token periodically
    // function refreshTokenPeriodically(msPeriod = 15 * 1000 * 60) {
    //     // Set interval for token refresh - Adjust the interval as needed
    //     setInterval(async () => {
    //         try {
    //             // Attempt to refresh the token by sending a request to the refresh endpoint
    //             const refreshResponse = await fetch('/api/refresh_jwts', { method: 'POST', credentials: 'include' });
    //             const refreshData = await refreshResponse.json();
    //             console.log('Periodic token refresh:', refreshData);
    //         } catch (error) {
    //             // Log any errors encountered during the token refresh
    //             console.error('Error refreshing token:', error);
    //         }
    //     }, msPeriod); // Refresh token every msPeriod Seconds
    // }
    
    // // Call the function to start the periodic token refresh
    // refreshTokenPeriodically();
</script> -->

<!-- <script>
    // // Magic Cache. To use in every page as : magicCache(['/page_to_load_first',''])
    // function magicCache(routesToPreload) { // Caches pages and override <a> tag behavior
    //     document.addEventListener('DOMContentLoaded', async function() {
    //         for (const pageUri of routesToPreload) {
    //             try {
    //                 const response = await fetch(pageUri);
    //                 if (response.ok) {
    //                     const content = await response.text();
    //                     localStorage.setItem(encodeURIComponent(pageUri), content);
    //                 } else {
    //                     console.error('Fetch failed for:', pageUri);
    //                 }
    //             } catch (error) {
    //                 console.error('Error fetching page:', pageUri, error);
    //             }
    //         }
    //         overrideLinks();
    //     });
    // }
    

    // // Function to override <a> tag behavior
    // function overrideLinks() {
    //     document.querySelectorAll('a').forEach(link => {
    //         // Remove existing listener to prevent duplication
    //         link.removeEventListener('click', handleLinkClick);
    //         // Add new listener
    //         link.addEventListener('click', handleLinkClick);
    //     });
    // }

    // // function handleLinkClick(e) {
    //     e.preventDefault();
    //     const href = this.getAttribute('href');
    //     const cachedContent = localStorage.getItem(encodeURIComponent(href));
    //     if (cachedContent) {
    //         updateDOMWithCachedContent(cachedContent);
    //     } else {
    //         window.location.href = href;
    //     }
    // }

    // // Function to update the DOM with cached content
    // function updateDOMWithCachedContent(content) {
    //     const mainContentArea = document.getElementById('main-content');
    //     if (mainContentArea) {
    //         mainContentArea.innerHTML = content;
    //         // Optionally reinitialize any JavaScript functionality as needed
    //     }
    // }

    // // Usage example
    // // magicCache(['/somepage', '/anotherpage']);

</script> -->