<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Discover your path to personal and professional growth with our diverse marketplace of expert coaches. Connect with passionate mentors in various fields, explore tailored coaching sessions, and embark on a transformative journey towards achieving your goals. Join us now to start your journey of self-improvement and unlock your full potential.">

    <script>

            // Function to handle JSON API requests with token refresh logic
        async function jsonRequest(address, body = {}, method='POST') {

            console.log('jsonRequest : arguments : (address = ', address, ', body = ', body, ', method = ', method, ')')

            let response = await fetch(address, {
                method: method,
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(body),
                credentials: 'include', // Include credentials for session handling
            });

            console.log('jsonRequest : fetch() awaited response : ', response)

            // Check if the response status is 401 (Unauthorized)
            if (response.status === 401) {
                try {
                    // Attempt to refresh the token
                    const refreshResponse = await fetch('/api/refresh_jwts', {method: 'POST', credentials: 'include'});
                    const refreshData = await refreshResponse.json();

                    console.log('Token refresh response:', refreshData);

                    // If token refresh is successful, retry the original request
                    if (refreshResponse.status === 200) {
                        response = await fetch(address, {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(body),
                            credentials: 'include',
                        });
                    }
                } catch (error) {
                    // Log any errors encountered during the token refresh and rethrow them
                    console.error('Error refreshing token:', error);
                    throw error;
                }
            }
            // Return the final response in JSON format
            console.log('jsonRequest : response : ' + response);
            return response.json();
        }
    </script>

        <!-- FORMS :  -->
    <script>
        async function handleForm(apiEndpoint, formId, method='POST') {
            return new Promise((resolve, reject) => {
                const form = document.getElementById(formId);
        
                form.onsubmit = async (e) => {
                    e.preventDefault();
        
                    const formData = new FormData(form);
                    const formDataDict = {};
                    formData.forEach((value, key) => {
                        formDataDict[key.toString()] = value.toString();
                    });
        
                    try {
                        const response = await jsonRequest(apiEndpoint, formDataDict, method);
                        resolve(response);  // Resolve the promise with the response
                    } catch (error) {
                        reject(error);  // Reject the promise with the caught error
                    }
                };
            });
        }        
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Hacene{% endblock %}</title>
</head>
<body class='{% block body_class %}body{% endblock %}'>
    {% block body %}{% endblock %}
</body>

</html>