{% extends 'base.html' %}

{% block body_class %}center{% endblock %}

{% block body %}

{% import 'components/macros.html' as macros %}

<script>
    console.log('loaded coaches-register.html');
</script>

<form action='' class='centered' id='login-form' style='max-width: 30rem;'>
        <div class='centered-line'>
            <input required type="text" name="firstName" id="firstName" placeholder="First Name">
            <input required type="text" name="lastName" id="lastName" placeholder="Last Name">
        </div>

        <br>
        <!-- <label for="email">Email</label> -->
        <input required type="text" name="email" id="email" placeholder='Email'>
        <br>
        <!-- <label for="passowrd">Password</label> -->
        <input required type="password" name="password" id="password" placeholder='password'>
        <br>
        <input type="submit" value='Login'>
</form>

<script> 
    handleForm('/api/coaches/create-user', 'login-form')
  .then(response => {console.log('response from handleForm().then()', response); if (response.message == 'Success in creating coach account.'){location.assign('/coaches/emailsim')}})
  .catch(error => {
    console.error('An error occurred:', error);
  });
</script>

{% endblock %}